.card {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 10px;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
  background: #6caddc;
  height: 100% !important;
}
.card > .img-container > img {
}
